@using Microsoft.AspNetCore.Mvc.Rendering;
@using Todoer.Enums;
@model Todoer.Models.DbModels.Task;

@{
    ViewData["Title"] = "Create";
}

@if (User.Identity.IsAuthenticated)
{
    <br/>
    <h4>Add a new Task</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" maxlength="250" rows="2"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Deadline" class="control-label"></label>
                    <input asp-for="Deadline" type="date" class="form-control" />
                    <span asp-validation-for="Deadline" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Priority" class="control-label"></label>
                    <select class="form-control" asp-for="@Model.Priority" asp-items="Html.GetEnumSelectList<Priority>()"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
   
}
else
{
    <p>Register new account or login to existing one.</p>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
